<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Fullscreen Slit Slider with CSS3 and jQuery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Fullscreen Slit Slider with CSS3 and jQuery" />
        <meta name="keywords" content="slit slider, plugin, css3, transitions, jquery, fullscreen, autoplay" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
 <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>

		<noscript>
			<link rel="stylesheet" type="text/css" href="/assets/styleNoJS.css" />
		</noscript>
		<link rel="stylesheet" type="text/css" href="/assets/demo.css" />
        <link rel="stylesheet" type="text/css" href="/assets/style.css" />
        <link rel="stylesheet" type="text/css" href="/assets/custom.css" />
    </head>
    <body>
       
        <div class="container demo-1">
		
			<!-- Codrops top bar -->
            

            <nav class="codrops-demos">
				<a class="current-demo" href="index.html">Affiliates</a>
				<a href="index2.html">Which Pill is for Me?</a>
			</nav>

            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
						<div class="sl-slide-inner">
							<div class="deco" style="border:none;">
							
							<img style="width: 220px;
margin-left: 20px;
top: 20px;
position: absolute;" src="http://www.gearisle.com/media/catalog/product/cache/1/image/363x/245a1757ad7e525772eae9550c41f1d8/l/o/love-star-2500mg-triple-1-male-libido-enhancer-7-days-pill-243.jpg" />

							</div>
							

							<h2>Make Love Star</h2>
							<blockquote><p>My husband got his first box from a friend who said it didn't work for him. I researched the product before he started taking it so I would know what we were getting into (with many products you will go back to your original size if you stop taking them, not with ExtenZe). The first few days, not much difference, but by the end of the first week.... Well, let's just say that now we are about a month into it and I am an extremely happy camper!</p><cite>Margi Clarke</cite></blockquote>

<div class="payme">
							 <%= form_tag charges_path do %>
  <article>
    <label class="amount">
 
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:PUBLISHABLE_KEY] %>"
          data-description="A month's subscription"
          data-amount="500"></script>
<% end %>
</div>
						</div>
					</div>
					
					<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
						<div class="sl-slide-inner">
							<div class="deco" style="border:none;">
							
							<img style="width: 220px;margin-left: 20px;" src="http://www.gearisle.com/media/catalog/product/cache/1/image/363x/245a1757ad7e525772eae9550c41f1d8/a/l/all-nite-long-962-50mg-performance-and-endurance-enhancer-hammer-strong-for-men-315.jpg" />

							</div>
							

							<h2>ALL NITE LONG</h2>
							<blockquote><p>My husband got his first box from a friend who said it didn't work for him. I researched the product before he started taking it so I would know what we were getting into (with many products you will go back to your original size if you stop taking them, not with ExtenZe). The first few days, not much difference, but by the end of the first week.... Well, let's just say that now we are about a month into it and I am an extremely happy camper!</p><cite>Margi Clarke</cite></blockquote>
						</div>
					</div>
					
					<div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="deco" style="border:none;">
							
							<img style="width: 200px;
/* margin-left: 5px; */
top: 10px;
left: 25px;
position: absolute;" src="http://www.gearisle.com/media/catalog/product/cache/1/image/363x/245a1757ad7e525772eae9550c41f1d8/l/i/libigirl-new_2.jpg" />

							</div>
							

							<h2>libigirl</h2>
							<blockquote><p>My husband got his first box from a friend who said it didn't work for him. I researched the product before he started taking it so I would know what we were getting into (with many products you will go back to your original size if you stop taking them, not with ExtenZe). The first few days, not much difference, but by the end of the first week.... Well, let's just say that now we are about a month into it and I am an extremely happy camper!</p><cite>Margi Clarke</cite></blockquote>
						</div>
					</div>
					
					<div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="deco" style="border:none;">
							
							<img style="width: 220px;margin-left: 20px;" src="http://www.gearisle.com/media/catalog/product/cache/1/image/650x/245a1757ad7e525772eae9550c41f1d8/m/a/maxsize-male-enhancement-maximum-strength-322.jpg" />

							</div>
							

							<h2>MaxSize Male Enhancement</h2>
							<blockquote><p>My husband got his first box from a friend who said it didn't work for him. I researched the product before he started taking it so I would know what we were getting into (with many products you will go back to your original size if you stop taking them, not with ExtenZe). The first few days, not much difference, but by the end of the first week.... Well, let's just say that now we are about a month into it and I am an extremely happy camper!</p><cite>Margi Clarke</cite></blockquote>
						</div>
					</div>
					
					<div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							


							<div class="deco" style="border:none;">
							
							<img style="width: 220px;margin-left: 20px;" src="http://www.gearisle.com/media/catalog/product/cache/1/image/363x/245a1757ad7e525772eae9550c41f1d8/m/a/maxtrazen-extreme-gold-male-sexual-performance-enhancement-pills-platinum-1600mg-188.jpg" />

							</div>
							

							<h2>ExtenZe Plus</h2>
							<blockquote><p>My husband got his first box from a friend who said it didn't work for him. I researched the product before he started taking it so I would know what we were getting into (with many products you will go back to your original size if you stop taking them, not with ExtenZe). The first few days, not much difference, but by the end of the first week.... Well, let's just say that now we are about a month into it and I am an extremely happy camper!</p><cite>Margi Clarke</cite></blockquote>




						</div>
					</div>
				</div><!-- /sl-slider -->
				
				<nav id="nav-arrows" class="nav-arrows">
					<span class="nav-arrow-prev">Previous</span>
					<span class="nav-arrow-next">Next</span>
				</nav>

				<nav id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->


<ul style="top:100%;height:960px;width:100border:black 1px solid;position:absolute;" class="small-block-grid-3">
  <li><img class="th" src="../assets/img/examples/satelite.jpg"></li>
  <li><img class="th" src="../assets/img/examples/space.jpg"></li>
  <li><img class="th" src="../assets/img/examples/spacewalk.jpg"></li>
</ul>
<ul   class="small-block-grid-3">
  <li><img src="http://www.gearisle.com/media/catalog/product/cache/1/image/650x/245a1757ad7e525772eae9550c41f1d8/e/x/extenze-plus-doctor-approved-male-enhancement-five-days-supply-266.jpg" />

  </li>
  <li>
<img src="http://www.gearisle.com/media/catalog/product/cache/1/image/650x/245a1757ad7e525772eae9550c41f1d8/b/l/black-panther-original-genuine-triple-maximum-1250mg-2500pwr-for-men-1-pill-275.jpg" />

  </li>
  <li>
<img src="http://www.gearisle.com/media/catalog/product/cache/1/image/363x/245a1757ad7e525772eae9550c41f1d8/o/h/oh-happy-day-3000mg-black.jpg" />

  </li>
   <li>
<img src="http://www.gearisle.com/media/catalog/category/black-stallion-stamina-confidence-pleasure-2200mg-1-pill-capsule-5-days-283.jpg" />

  </li>
</ul>







        </div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.ba-cond.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.slitslider.js"></script>
		<script type="text/javascript">	
			$(function() {
			
				var Page = (function() {

					var $navArrows = $( '#nav-arrows' ),
						$nav = $( '#nav-dots > span' ),
						slitslider = $( '#slider' ).slitslider( {
							onBeforeChange : function( slide, pos ) {

								$nav.removeClass( 'nav-dot-current' );
								$nav.eq( pos ).addClass( 'nav-dot-current' );

							}
						} ),

						init = function() {

							initEvents();
							
						},
						initEvents = function() {

							// add navigation events
							$navArrows.children( ':last' ).on( 'click', function() {

								slitslider.next();
								return false;

							} );

							$navArrows.children( ':first' ).on( 'click', function() {
								
								slitslider.previous();
								return false;

							} );

							$nav.each( function( i ) {
							
								$( this ).on( 'click', function( event ) {
									
									var $dot = $( this );
									
									if( !slitslider.isActive() ) {

										$nav.removeClass( 'nav-dot-current' );
										$dot.addClass( 'nav-dot-current' );
									
									}
									
									slitslider.jump( i + 1 );
									return false;
								
								} );
								
							} );

						};

						return { init : init };

				})();

				Page.init();

				/**
				 * Notes: 
				 * 
				 * example how to add items:
				 */

				/*
				
				var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
				
				// call the plugin's add method
				ss.add($items);

				*/
			
			});
		</script>
	</body>
</html>